---
layout: default
---

<!-- <nav>
  <div class="nav-wrapper">
    <a href="/index" class="brand-logo right"><i class="material-icons">arrow_back</i></a>
  </div>
</nav> -->

<nav>
  <div class="nav-wrapper">
    <a href="/index" class="btn-floating btn-large deep-orange accent-4 right"><i class="material-icons">arrow_back</i></a>
  </div>
</nav>

<!-- <div class="container">

	<div class="row">
		<div class="offset-by-two eight columns">
			<h1>{{ page.title | escape }}</h1>
			{{ content }}

			{% for image in page.images %}
			<img class="u-max-full-width imgpost" src="{{image}}">
			{% endfor %}
		</div>
	</div>

</div> -->





<div class="container wrapper">

  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h1>{{ page.title | escape }}</h1>
        <h2 class="flow-text"> {{ content }} </h2>

      {% for image in page.images %}
        <img class="responsive-img z-depth-1 post-img" src="{{image}}">
        {% endfor %}
    </div>
    
  </div>

</div>